/* fonts */

body {
    font-family: Vazirmatn;
}

a {
    text-decoration: none;
}


/* preloader */

div#preloader {
    background-color: #f1f2f3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

div#status {
    background-image: url(../images/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


/* nav */

nav.fadeInDown {
    animation-duration: 3s;
    animation-delay: 0.9s;
    animation-name: fadeInDown;
}


/* profile */

div.profile {
    animation-duration: 3s;
    animation-delay: 0.9s;
    animation-name: pulse;
}

div img.bounceInLeft {
    animation-duration: 3s;
    animation-delay: 0.9s;
    animation-name: bounceInLeft;
}


/* Social network */

div.social-links ul .social {
    background-color: yellowgreen;
    border-radius: 1rem;
    padding: 0.5rem;
    line-height: 0;
    transition: 0.3s;
}

div.social-links ul .social:hover {
    box-shadow: 0 0 1rem gray;
}